/* main.css */

/* Add your other styles below */
/* Add this CSS to position the Total places text */
#travelogue h1 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px; /* Adjust as needed */
}


#travelogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.place-card {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.place-card:hover {
    transform: translateY(-5px);
}

.place-card .image-wrap {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.place-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.place-card h3 {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #333;
}

.place-card h1 {
    margin-top: 5px;
    font-size: 1.2rem;
    color: #666;
}

.details-buttons {
    text-align: center;
    margin-top: 15px;
}

.details-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.details-btn:hover {
    background-color: #0056b3;
}

.no-articles {
    text-align: center;
    font-size: 1.2rem;
    color: #999;
    margin-top: 20px;
}

/* Additional styles for travelogue */
#travelogue {
    margin-top: 50px;
}

.place-card {
    max-width: 300px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.place-card:hover {
    transform: translateY(-5px);
}

.place-card .image-wrap {
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 15px;
}

.place-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.place-card h3 {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 10px;
}

.place-card h1 {
    font-size: 1.4rem;
    color: #090909;
    margin-bottom: 5px;
}

.details-buttons {
    text-align: center;
}

.details-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
}

.details-btn:hover {
    background-color: #0056b3;
}


