#travelogue h1 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px; /* Adjust as needed */
}

#travelogue {
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.place-card-wrapper {
    width: 80%;
    max-width: 600px;
    margin: 0 auto; /* Center the wrapper horizontally */
}

.place-card {
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px; /* Bottom margin for each card */
    margin-top: 100px;
}

.place-card:hover {
    transform: translateY(-5px);
}

.place-card .image-wrap {
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 15px;
}

.place-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.place-details {
    position: relative;
}

.place-details h3 strong,
.place-details h4 strong,
.place-details h5 strong,
.place-details h6 strong,
.place-details h7 strong {
    font-weight: bold; /* Make the label text bold */

}

.place-details h3,
.place-details h4,
.place-details h5,
.place-details h6,
.place-details h7 {
    font-size: 16px; /* Set font size for user-inserted text */
}

.details-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.details-btn {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    margin-left: 10px; /* Add margin between buttons if needed */
    text-transform: uppercase;
    outline: none;
    color: #090909;
    background-color: #5dade2;
}

.details-btn-all-comments {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    margin-right: 10px; /* Add margin between buttons if needed */
    text-transform: uppercase;
    outline: none;
    color: #090909;
    background-color: #5dade2;
    float: right;
    margin-top: -30px;
}

.like-button,
.unlike-button {
    margin-right: 10px;
    background-color: #5dade2;
    color: #000;
    width: 80px;
    height: 30px;
    margin-top: -80px;
}

.like-count {
    margin-right: 10px;
    color: #333;
}

/* Styles for the "Add Comment" button */
.comment-button {
    background-color: #5dade2; /* Blue background color */
    color: #000; /* Black text color */
}

.edit-button {
    background-color: #5dade2;
    color: #000;
}

.delete-button {
    background-color: red;
    color: #090909;
}

.no-articles {
    text-align: center;
    font-size: 1.2rem;
    color: #999;
    margin-top: 50px;
}

.like-section {
    position: absolute;
    left: 50%; /* Move to the center horizontally */
    transform: translateX(-50%); /* Center the element */
    bottom: -8px; /* Adjust the bottom position as needed */
    display: flex;
    align-items: center;

}

.like-count {
    margin-right: 10px;
}

.comment-button {
    margin-right: 10px;
    width: 150px;
    height: 30px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.all-comments-button {
    margin-right: 10px;
    width: 140px;
    height: 16px;
    text-align: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.total-places {
    position: absolute;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center the element */
    top: 65px; /* Adjust the top position as needed */
    margin-bottom: 80px; /* Add margin below the "Total places" text */
    z-index: 1;
}

.video-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Adjust as needed */
}

.video-wrap video {
    max-width: 100%;
    max-height: 100%;
}


























