/* Add your other styles below */
/* Add this CSS to position the Total places text */
#travelogue h1 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px; /* Adjust as needed */
}

#travelogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.place-card {
    position: relative; /* Set position to relative */
    width: 100%;
    max-width: 600px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
}

.place-card:hover {
    transform: translateY(-5px);
}

.place-card .image-wrap {
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 15px;
}

.place-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.place-card h3 {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 10px;
}

.place-card h1 {
    font-size: 1.4rem;
    color: #090909;
    margin-bottom: 5px;
}

.details-buttons {
    position: absolute; /* Set position to absolute */
    top: 10px; /* Adjust top spacing as needed */
    right: 10px; /* Adjust right spacing as needed */
}

.details-btn {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    margin-left: 10px; /* Add margin between buttons if needed */
    text-transform: uppercase;
    outline: none;
    color: #090909;
    background-color: #5dade2;
}

.edit-button {
    background-color: #5dade2;
    color: #000;
}

.delete-button {
    background-color: red;
    color: #090909;
}

.no-articles {
    text-align: center;
    font-size: 1.2rem;
    color: #999;
    margin-top: 20px;
}









