{% extends 'base.html' %}
{% load static %}

{% block main_content %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if places_with_email %}
        <h1>Total places: {{ places_with_email|length }}</h1>
        <section id="travelogue">
            {% for item in places_with_email %}
                <div class="place-card">
                    <!-- Place details -->
                    <h2>{{ item.user_email }}</h2>
                    <div class="image-wrap">
                        <img src="{{ item.place.image_url }}" alt="{{ item.place.location }}">
{#                        <img src="{{ item.place.photo }}" alt="{{ item.place.location }}">#}
                    </div>
                    <h3>Hotel name: {{ item.place.name }}</h3>
                    <h4>Location: {{ item.place.location }}</h4>
                    <h5>Category: {{ item.place.category }}</h5>
                    <h6>Description: {{ item.place.description }}</h6>
                    <h7>Rating: {{ item.place.rating }}</h7>

                    <!-- Like/Unlike button -->
                    {% if request.user.is_authenticated %}
                        {% if item.liked_place %}
                            <form action="{% url 'like_logic' item.place.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="details-btn unlike-button">Unlike</button>
                            </form>
                        {% else %}
                            <form action="{% url 'like_logic' item.place.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="details-btn like-button">Like</button>
                            </form>
                        {% endif %}
                    {% endif %}

                    <!-- Display number of likes -->
                    <p class="like-count">Likes: {{ item.place.like_set.count }}</p>

                    <!-- Comment form -->
                    <form action="{% url 'comment' pk=item.place.pk %}" method="post">
                        {% csrf_token %}
                        {{ comment_form.as_p }} <!-- Assuming you have a CommentForm -->
                        <button type="submit" class="details-btn">Add Comment</button>
                    </form>

                    <!-- Details buttons -->
                    <div class="details-buttons">
                        <a href="{% url 'edit_place' pk=item.place.pk %}" class="details-btn edit-button">Edit</a>
                        <a href="{% url 'delete place' pk=item.place.pk %}" class="details-btn delete-button">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    {% else %}
        <p class="no-articles">No places yet</p>
    {% endif %}
{% endblock %}













